.h-10 {
  height: 10%;
}
.bg-principal {
  background-color: rgb(229, 126, 255);
  background: linear-gradient(
    90deg,
    rgb(178, 9, 220) 12%,
    rgba(6, 132, 216, 1) 100%
  );
}
.curseur:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: rgb(0, 187, 91);
}
